body {
  font-family: Helvetica;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}

a {
  color: #ddd;
}

a:hover {
  color: white;
}

ul li {
  list-style-type: none;
}

.no-js .modules {
  display: none;
}

.panel, [data-module] {
  margin: 12px;
  padding: 12px;
  background-color: #555;
  border-radius: 12px;
}

.panel--warning {
  background-color: red;
}

[data-module] h2 {
  margin-top: 0;
}
